body {
  background: linear-gradient(to right, #6dd5fa, #2980b9);
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 90%;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}

/* Weather Info */
.weather-info {
  margin-top: 20px;
}

.city-name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.weather-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Forecast */
.forecast {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid white;
  /* overflow-x: scroll; */
  /* Enable horizontal scrolling */
  /* scroll-behavior: smooth; */
  /* Optional: smooth scrolling effect */
  /* -webkit-overflow-scrolling: touch; */
  /* Enable momentum scrolling on iOS */
}

.forecast-day {
  text-align: center;
  /* Allow forecast items to not shrink and line up horizontally */
  margin: 0 5px;
  /* Spacing between forecast days */
}

.forecast-day p {
  margin: 5px 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .weather-stats {
    /* flex-direction: column; */
    align-items: center;
  }

  .stat-item {
    margin-bottom: 20px;
  }

  /* Make forecast section scrollable horizontally on smaller screens */
  .forecast {
    /* flex-wrap: nowrap; */
  overflow-x: scroll;
  }

  .forecast-day {
    margin-bottom: 10px;
    width: 90px;
    /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .city-name {
    font-size: 1.5rem;
  }

  .weather-stats {
    /* flex-direction: column; */
    font-size: 13px;
  }

  .stat-item {
    margin-bottom: 20px;
    
  }

  .weather-icon {
    font-size: 2.1rem;
  }

  .forecast-day {
    width: 80px;
    /* Further adjust width for small screens */
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .search-button {
    margin-left: 5px;
  }

  .forecast-day {
    font-size: 0.9rem;
  }
}